:root {
    --primary-color: #00001a;
    --secondary-color: #1a002b;
    --tertiary-color: #2b004c;
    --quaternary-color: #004c4c4c;
    --quinary-color: #332100;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color), var(--tertiary-color), var(--quaternary-color), var(--quinary-color));
    color: white;
    font-size: 1.5em;
    animation: gradient 30s ease infinite;
    background-size: 400% 400%;
    padding: 20px;
    font-family: 'Monospace', sans-serif;
    text-align: center;
}

.body-container {
    display: flex;
}

#left-panel, #right-panel {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

input, button {
    font-family: 'Monospace', sans-serif;
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
    color: #ccc;
    background-color: #1a1a1a;
}

input:focus, button:focus {
    outline: none;
}

#apiKey, #beforeText, #afterText {
    background-color: #1a1a1a;
    color: #ccc;
}

#challenge {
    color: #ccc;
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1em;
}

#previewText {font-size: 0.8em; margin-bottom:20px; text-align: left;}      

#submit {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
}

#submit:hover {
    background-color: #555;
    color: #000;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    font-size: 1em;
    color: #ccc;
    background-color: #1a1a1a;
}

@media (max-width: 576px) { 
    body {
        font-size: 0.75em;
        flex-direction: column;
    }
    #apiKey, #beforeText, #afterText, #submit {
        width: 100%;
    }
}

.correct-answer, .incorrect-answer {
    transition: background-color 2s ease;
}

.correct-answer {
    background-color: #006600;
}

.incorrect-answer {
    background-color: #660000;
}

#question {margin: 20px 0 20px 0; text-align:left;}


@keyframes color-explosion {
    0% {background-color: #FF00FF;} /* Purple */
    25% {background-color: #00FFFF;} /* Aqua */
    50% {background-color: #FFFF00;} /* Yellow */
    75% {background-color: #FF9900;} /* Orange */
    100% {background-color: #33FF33;} /* Neon Green */
}

.explosion {
    animation: color-explosion 5s linear infinite;
}

.explosion-one {
    animation: color-explosion 5s;
  }
